/*start-b*/

.bg-start{
    background-image:url("pictures/bg-masthead.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
    height:100vh;
	
}

.display{
    display: flex;
    justify-content: end;
}

.margin{
    margin-top: 10rem;
}

.line{
    width: 3rem;
    height: 0.3rem;
    background-color: rgb(185, 66, 66);
    margin-left: 40rem;
}

.text-align{
    text-align: center;
}



/*need*/

.marge{
    padding:4rem 4rem;
}


.unline{
    width: 3rem;
    height: 0.3rem;
    background-color:white;
    margin-left: 35rem;
}


/*service*/

.bg-service{
    background-color: white;
    padding:5rem;
}

.soulign{
    width: 3rem;
    height: 0.3rem;
    background-color:rgb(211, 69, 44);
    margin-left: 34rem;
}

.p-5{
    padding:4rem;
}
